html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body{
    font-family: "Noto Sans Mono", serif;
    color: white;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.521);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#to-do-list{
    background-color: #00ace6;
    text-align: center;
    margin-top: 10%;
    padding: 12px;
    border-radius: 10px;
    border-color: #00759c;
    width: 500px;
}

button{
    font-family: "Noto Sans Mono", serif;
    font-size: medium;
    color: white;
    background-color: #048dbb;
    border-radius: 5px;
    border: none;
}

.show-form{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin: 5px;
}

.add-item-form{
    display: flex;
    gap: 5%;
    height: 50px;
    overflow: hidden;
}

.add-item-form input{
    font-size: large;
    width: 70%;
    border-radius: 15px;
    border: none;
}

.list-of-items{
    list-style: decimal;
    text-align: left;
    text-shadow: none;
    font-size: 20px;
}

li{
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.done_item{
    text-decoration: line-through;
    color: gray;
}

.priority_item{
    font-size: 16;
    color: gold;
    font-weight: bold;
}